<% include ../../include/Header %>
    <section class="content">
       <div class="row">
            <div class="col-md-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#activity" data-toggle="tab">Danh sách danh mục</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="row">
                                <div class="col-md-3">
                                            <select class="form-control">
                                                <option>Đà Nẵng</option>
                                                <option>Quy Nhơn</option>
                                                <option>Nha Trang</option>
                                                <option>Đà Lạt</option>
                                                <option>Hội An</option>
                                            </select>
                                </div> 
                                <div class="col-md-3">
                                        <button class="btn btn-info btn-flat btn-block">Bộ lọc</button>
                                </div> 
                                <div class="col-md-12">
                                    <br/>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 10px">STT</th>
                                                <th>Tên</th>
                                                <th>Mô tả</th>
                                                <th class="text-center" style="width: 100px">Trạng thái</th>
                                                <th style="width: 100px">
                                                    <button class="btn btn-success btn-xs">Thêm mới</button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Mua Sắm</td>
                                                <td>Đà Nẵng là một nơi j đó</td>
                                                <td class="text-center">
                                                    <button class="btn btn-danger btn-xs">Tắt</button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-warning btn-xs" title="Sao chép"><i class="fa fa-clipboard"></i></button>
                                                    <button class="btn btn-success btn-xs" title="Chỉnh sủa"><i class="fa fa-pencil-square"></i></button>
                                                    <button class="btn btn-danger btn-xs" title="Xóa"><i class="fa fa-trash-o"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Du Lịch</td>
                                                <td>Đà Nẵng là một nơi j đó</td>
                                                <td class="text-center">
                                                    <button class="btn btn-danger btn-xs">Tắt</button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-warning btn-xs" title="Sao chép"><i class="fa fa-clipboard"></i></button>
                                                    <button class="btn btn-success btn-xs" title="Chỉnh sủa"><i class="fa fa-pencil-square"></i></button>
                                                    <button class="btn btn-danger btn-xs" title="Xóa"><i class="fa fa-trash-o"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Ăn uống</td>
                                                <td>Đà Nẵng là một nơi j đó</td>
                                                <td class="text-center">
                                                    <button class="btn btn-danger btn-xs">Tắt</button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-warning btn-xs" title="Sao chép"><i class="fa fa-clipboard"></i></button>
                                                    <button class="btn btn-success btn-xs" title="Chỉnh sủa"><i class="fa fa-pencil-square"></i></button>
                                                    <button class="btn btn-danger btn-xs" title="Xóa"><i class="fa fa-trash-o"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Đà Nẵng</td>
                                                <td>Đà Nẵng là một nơi j đó</td>
                                                <td class="text-center">
                                                    <button class="btn btn-danger btn-xs">Tắt</button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-warning btn-xs" title="Sao chép"><i class="fa fa-clipboard"></i></button>
                                                    <button class="btn btn-success btn-xs" title="Chỉnh sủa"><i class="fa fa-pencil-square"></i></button>
                                                    <button class="btn btn-danger btn-xs" title="Xóa"><i class="fa fa-trash-o"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Đà Nẵng</td>
                                                <td>Đà Nẵng là một nơi j đó</td>
                                                <td class="text-center">
                                                    <button class="btn btn-danger btn-xs">Tắt</button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-warning btn-xs" title="Sao chép"><i class="fa fa-clipboard"></i></button>
                                                    <button class="btn btn-success btn-xs" title="Chỉnh sủa"><i class="fa fa-pencil-square"></i></button>
                                                    <button class="btn btn-danger btn-xs" title="Xóa"><i class="fa fa-trash-o"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Đà Nẵng</td>
                                                <td>Đà Nẵng là một nơi j đó</td>
                                                <td class="text-center">
                                                    <button class="btn btn-danger btn-xs">Tắt</button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-warning btn-xs" title="Sao chép"><i class="fa fa-clipboard"></i></button>
                                                    <button class="btn btn-success btn-xs" title="Chỉnh sủa"><i class="fa fa-pencil-square"></i></button>
                                                    <button class="btn btn-danger btn-xs" title="Xóa"><i class="fa fa-trash-o"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Khỏe Đẹp</td>
                                                <td>Đà Nẵng là một nơi j đó</td>
                                                <td class="text-center">
                                                    <button class="btn btn-danger btn-xs">Tắt</button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-warning btn-xs" title="Sao chép"><i class="fa fa-clipboard"></i></button>
                                                    <button class="btn btn-success btn-xs" title="Chỉnh sủa"><i class="fa fa-pencil-square"></i></button>
                                                    <button class="btn btn-danger btn-xs" title="Xóa"><i class="fa fa-trash-o"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
        
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- /.nav-tabs-custom -->
            </div>
       </div>
        
        <!-- /.col -->
    </section>
    <% include ../../include/Footer %>

