<% include ../../include/Header %>
    <section class="content">

        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#activity" data-toggle="tab">Danh sách khu vực</a></li>

                </ul>
                <div class="tab-content">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 10px">STT</th>
                                <th>Tên</th>
                                <th class="text-center" style="width: 100px">Trạng thái</th>
                                <th style="width: 100px">
                                    <button class="btn btn-success btn-xs">Thêm mới</button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Đà Nẵng</td>
                                <td class="text-center">
                                    <button class="btn btn-danger btn-xs">Tắt</button>
                                </td>
                                <td>
                                    <button class="btn btn-warning btn-xs" title="Sao chép"><i class="fa fa-clipboard"></i></button>
                                    <button class="btn btn-success btn-xs" title="Chỉnh sủa"><i class="fa fa-pencil-square"></i></button>
                                    <button class="btn btn-danger btn-xs" title="Xóa"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Đà Lạt</td>
                                <td class="text-center">
                                    <button class="btn btn-danger btn-xs">Tắt</button>
                                </td>
                                <td>
                                    <button class="btn btn-warning btn-xs" title="Sao chép"><i class="fa fa-clipboard"></i></button>
                                    <button class="btn btn-success btn-xs" title="Chỉnh sủa"><i class="fa fa-pencil-square"></i></button>
                                    <button class="btn btn-danger btn-xs" title="Xóa"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Quy Nhơn</td>
                                <td class="text-center">
                                    <button class="btn btn-danger btn-xs">Tắt</button>
                                </td>
                                <td>
                                    <button class="btn btn-warning btn-xs" title="Sao chép"><i class="fa fa-clipboard"></i></button>
                                    <button class="btn btn-success btn-xs" title="Chỉnh sủa"><i class="fa fa-pencil-square"></i></button>
                                    <button class="btn btn-danger btn-xs" title="Xóa"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Nha trang</td>
                                <td class="text-center">
                                    <button class="btn btn-danger btn-xs">Tắt</button>
                                </td>
                                <td>
                                    <button class="btn btn-warning btn-xs" title="Sao chép"><i class="fa fa-clipboard"></i></button>
                                    <button class="btn btn-success btn-xs" title="Chỉnh sủa"><i class="fa fa-pencil-square"></i></button>
                                    <button class="btn btn-danger btn-xs" title="Xóa"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Hội An</td>
                                <td class="text-center">
                                    <button class="btn btn-danger btn-xs">Tắt</button>
                                </td>
                                <td>
                                    <button class="btn btn-warning btn-xs" title="Sao chép"><i class="fa fa-clipboard"></i></button>
                                    <button class="btn btn-success btn-xs" title="Chỉnh sủa"><i class="fa fa-pencil-square"></i></button>
                                    <button class="btn btn-danger btn-xs" title="Xóa"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </section>
    <% include ../../include/Footer %>